*
{
    padding : 5px;
    margin : auto;
    text-decoration: none;
    
}

body
{
    padding: 10px;
    border: 15px;
    background-image: linear-gradient(to left, rgba(0,224,104,0),rgba(0,224,104,1));
}
h1
{
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
}

.box
{  
    background-image: linear-gradient(to left, rgba(0,224,104,0),rgba(0,224,104,1));
    margin-right: auto;
    margin-left: auto;
   align-self: center;
    display: inline-block;
    margin : auto;
    padding :30px;
    border : 3px solid black;
    border-radius: 100px 0 100px 0;
}
h4
{
    text-align: center;
}

.box-1,.box-2,.box-3,.box-4
{
    float: left;
}


img
{
    border-radius: 10px 10px 10px 10px;
}

footer
{
    padding : 2px;
    margin: auto;
    text-align: center;
}